html,
body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-black: #010101;
  --primary-yellow: #ffc107;
  --primary-blue: #0d6efd;
  /* --primary-blue: #084298; */
}

#root {
  background: var(--primary-black);
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

/* Fonts */
.quote-text {
  font-size: 1.5rem;
}

.text-blue {
  color: var(--primary-blue);
}

* {
  scroll-margin-top: 56px;
}

a {
  text-decoration: none;
}

.contact-link {
  width: 50px;
  height: 50px;
  color: var(--primary-blue);
}

.contact-link:hover {
  background: var(--primary-blue);
  color: #010101;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.btn-icon {
  font-size: 1.75rem;
}

.btn-blue {
  background: var(--primary-blue);
  color: var(--primary-black);
}

.btn-blue:hover {
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
}

.selected-card {
  border: 1px solid var(--primary-blue);
}

.about-section,
.contact-link {
  border: 1px solid var(--primary-blue);
}

.contact-section {
  border-top: 1px solid var(--primary-blue);
}
